services:
  valheim:
    image: mbround18/valheim:3
    stop_signal: SIGINT
    ports:
      - 2456-2457:2456-2457/udp
    environment:
      PORT: 2456
      NAME: "Created With Valheim Docker"
      WORLD: "Dedicated"
      PASSWORD: "password"
      TZ: "America/Chicago"
      PUBLIC: 1s
      TYPE: BepInEx
      MODS: "JereKuusela-Server_devcommands-*"
    volumes:
      - ./valheim/saves:/home/steam/.config/unity3d/IronGate/Valheim
      - ./valheim/server:/home/steam/valheim
