services:
  valheim:
    image: mbround18/valheim:3
    stop_signal: SIGINT
    ports:
      - "2456:2456/udp"
      - "2457:2457/udp"
      - "2458:2458/udp"
    environment:
      PORT: 2456
      NAME: "Created With Valheim Docker"
      WORLD: "Dedicated"
      PASSWORD: "Banana Phone"
      TZ: "America/Chicago"
      PUBLIC: 1
      TYPE: BepInEx
    volumes:
      - ./valheim/saves:/home/steam/.config/unity3d/IronGate/Valheim
      - ./valheim/server:/home/steam/valheim
      - ./ValheimPlus/bin/Release/ValheimPlus.dll:/opt/valheim/plus/BepInEx/plugins/ValheimPlus.dll
      - ./ValheimPlus/bin/Release/ValheimPlus.pdb:/opt/valheim/plus/BepInEx/plugins/ValheimPlus.pdb
      - ./ValheimPlus/bin/Release/ValheimPlus.dll.mdb:/opt/valheim/plus/BepInEx/plugins/ValheimPlus.dll.mdb
      - ./ValheimPlus/bin/Release/ValheimPlus.dll.config:/opt/valheim/plus/BepInEx/plugins/ValheimPlus.dll.config
